body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #4CAF50;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    color: white;
    margin: 0;
}

/* Строка поиска */
.search-container {
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}

#search-input {
    flex: 1;
    max-width: 400px;
    padding: 8px;
    border: 1px
